@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #edf0f1;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: px;
    color: #24252a;
    text-decoration: none;
    list-style: none;
}
.participante-nome {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 30px 20px 50px;
}
.sumario {
    cursor: pointer;
}
.logo{
    padding: 50px 0 20px 2%;
    float: left;
    list-style: none;
}
.nome{
    padding: 50px 0 20px 150px;
    list-style: none;
}
.link{
    padding: 20px 0 20px 150px;
    list-style: none;
}